/* ----------------------------------------- RECURRENTES ---------------------------------------------- */

body {
    box-sizing: border-box;
    margin: 0;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, p {
    font-family: 'Work sans';
}


/* ----------------------------------------- PAGE ACCUEIL ---------------------------------------------- */

section.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

section.container > div.content {
    width: 600px;
    height: 600px;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

section.container > div.content > div.logo{
    margin: 100px auto;
}

section.container > div.content > button.btn_orange {
    width: 300px;
    height: 80px;
    padding: 10px;
    border-radius: 40px;
    margin: 10px auto;
    background-color: #E28213;
    border: none;
    font-family: 'Work sans';
    font-weight: medium;
    font-size: 32px;
}

button.btn_orange > a{
    text-decoration: none;
    color: white;
}

/* ----------------------------------------- PAGE INSCRIPTION ---------------------------------------------- */
section.connexion {
    display: block;
    text-align: right;
    padding: 40px 40px 0 0;
}

section.connexion > button.btn_connexion {
    width: 280px;
    height: 60px;
    background-color: #E28213;
    border: none;
    border-radius: 40px;
    font-family: 'Work sans';
    font-weight: medium;
    font-size: 22px;
}

section.connexion > button.btn_connexion > a {
    color: white;
    text-decoration: none;
}

section.container > div.content_bis {
    width: 1030px;
    height: 770px;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

section.container > div.content_bis > div.logo{
    margin: 50px auto;
}

section.container > div.content_bis > input {
    width: 430px;
    border-radius: 40px;
    padding: 20px;
    border: none;
    margin: 15px auto;
}

section.container > div.content_bis > button.btn_rose {
    width: 205px;
    height: 45px;
    padding: 10px;
    border-radius: 40px;
    margin: 30px auto;
    background-color: #A5305C;
    border: none;
    font-family: 'Work sans';
    font-weight: medium;
    font-size: 22px;
}

button.btn_rose > a {
    text-decoration: none;
    color: white;
}


/* ----------------------------------------- PAGE INSCRIPTION INFOS ---------------------------------------------- */

h1 {
    color: white;
    text-align: center;
    font-size: 55px;
}

p{
    color: white;
    text-align: center;
    font-size: 30px;
}

span {
    color: #E28213;
}

a.arrow_right {
    margin-top: 50px;
}

/* ----------------------------------------- PAGE INSCRIPTION SUPP ---------------------------------------------- */

section.container > div.content_bis > div.general {
    display: flex;
    flex-wrap: wrap;
}

section.container > div.content_bis > div.general > div.general_content {
    width : 40%;
    margin: 0 auto;
}
section.container > div.content_bis > div.general > div.general_content > div.sexe {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
section.container > div.content_bis > div.general > div.general_content > div.sexe > img {
    margin: 0 auto;
}
section.container > div.content_bis > div.general > div.general_content > h2 {
    color: #E28213;
    font-size: 32px;
    font-family: 'Work sans';
}
section.container > div.content_bis > div.general > div.general_content > input {
    width: 320px;
    padding: 15px;
    border-radius: 40px;
    border: none;
}

/* ----------------------------------------- PAGE CONNEXION ---------------------------------------------- */

section.container > div.content_bis > button.btn_green {
    width: 320px;
    height: 80px;
    padding: 10px;
    border-radius: 40px;
    margin: 30px auto;
    background-color: #869B08;
    border: none;
    font-family: 'Work sans';
    font-weight: medium;
    font-size: 22px;
}

section.container > div.content_bis > a {
    color: white;
    text-align: center;
    margin-bottom: 35px;
}

button.btn_green > a {
    text-decoration: none;
    color: white;
    text-decoration: none;
}